body{
    width: 100%;
    background-image: url(../img/background-echec.jpg);
    opacity:  95%;
}


#nav{
    width: 100%;
    height: 42.5px;
}

#Nav1{
    float: left;
    width: 100%;
    height: 40px;
}

#navbarDropdown{
    float: right;
}

.navbar-nav{
    width: 100%;
}

.dropdown-menu{
    right: 5px;
}

#buttonSubmitProfil{
    margin-left: 15%;
    width: 70%;
    height: 10%;
    background-color: transparent;
    border: 0px;
}


#bouttonReset{
    margin-left: 50px;
    margin-top: 100px;
}

#map{
    float: left;
    width: 875px;
    height: 875px;
    margin-top: 45px;
    margin-left: 250px;
}

#chat{
    margin-top: 28.5px;
    height: 250px;
    width: 380px;
    opacity: 90%;
    background-color: grey;
}

#chat_history{
    height: 215px;
    width: 100%;
    background-color: darkgrey;
}

#message_box{
    margin: 0% 0% 0% 0%;
}

#chat_message{
    height: 35px;
    width: 85%;
    background-color: lightgrey;
    margin-right: 0px;
    float: left;
}

#message_send{
    height: 100%;
    width: 100%;
}

#entrer_butt{
    height: 35px;
    width: 15%;
    background-color: grey;
    float: right;
}

#Chat_enter{
    height: 100%;
    width: 100%;
}

#promote{
    width: 380;
    height: 550px;
    background-color: grey;
    opacity: 95%;
}

#inGame{
    margin-left: 50%;
    border: 0px;
    background-color: transparent;
    font-size: 20px;
}

#ath{
    float: left;
    width: 380;
    height: 875px;
    margin-top: 45px;
    margin-left: 30px;
}

#Main_Game{
    width: 1900px;
    height: 900px
}

#textlogin{
    margin-bottom: 0px;
    float: right;
    font-size: 16px;
    text-align: center;
}