body{
    width: 100%;
    background-image: url(../img/background-echec.jpg);
    opacity:  95%;
}

#nav{
    width: 100%;
    height: 42.5px;
}

#Nav1{
    float: left;
    width: 85%;
    height: 40px;
}

#Nav2{
    float: right;
    width: 15%;
    height: 40px;
}

#navbarDropdown{
    float: right;
}

.navbar-nav{
    width: 100%;
}

.dropdown-menu{
    right: 5px;
}

#nom_profil{
    margin-left: 5%;
    margin-bottom: 1.5%;
    width: 90%;
    height: 25px;
}

#sr{
    margin-left: 5%;
    margin-bottom: 1.5%;
    width: 90%;
    height: 25px;
}

#buttonSubmitProfil{
    margin-left: 15%;
    width: 70%;
    height: 10%;
    background-color: transparent;
    border: 0px;
}

#main{
    width: 100%;
    height: 850px;;
}

#titre_jeu{
    margin-left: 10%;
    margin-top: 2.5%;
    height: 600px;
    width: 75%;
}

#Search{
    width: 100%;
    height: 35px;
}

#Disconnect{
    width: 100%;
    height: 35px;
}

#DEBUG{
    width: 100%;
    height: 35px;
}

#buttonSearch{
    margin-left: 50%;
    border: 0px;
    background-color: transparent;
    font-size: 20px;
}

#buttonDisconnect{
    float: left;
    margin-right: 5px;
    border-radius: 5px;
}

#buttonDEBUG{
    float: left;
    border-radius: 5px;
}

#titre1{
    height: 100%;
    width: 100%;
}

#Tcheik{
    margin-top: 45%;
    margin-left: 35%;
}

#chat{
    margin-left: 2%;
    height: 250px;
    width: 400px;
    margin-bottom: 5px;
    background-color: grey;
    opacity: 90%;
}

#chat_history{
    height: 215px;
    width: 100%;
    background-color: darkgrey;
    overflow-y: scroll;
}

#message_box{
    margin: 0% 0% 0% 0%;
}

#chat_message{
    height: 35px;
    width: 85%;
    background-color: lightgrey;
    margin-right: 0px;
    float: left;
}

#message_send{
    height: 100%;
    width: 100%;
}

#entrer_butt{
    height: 35px;
    width: 15%;
    background-color: grey;
    float: right;
}

#Chat_enter{
    height: 100%;
    width: 100%;
}

#scoreboard{
    float: left;
    margin-left: 33%;
    margin-top: 2.5%;
    
}

#table_score{
    background-color: grey;
    opacity: 90%;
}

#titleScore{
    width: 200px;
    height: 35px;
    color: white;
    text-align: center;
}

td{
    height: 30px;
    color: white;
    text-align: center;
}

#Text_sr_nom{
    margin-left: 5%;
    width: 80%;
    height: 20px;
    margin-bottom: 7.5px;
    font-size: 13px;
}
#login_enter{
    margin-left: 12.5%;
    width: 75%;
    height: 30px;
    border-radius: 5px;
}